# Ejemplo de github action para probar python
# Docs: https://docs.github.com/es/actions/using-workflows/workflow-syntax-for-github-actions
name: Coverage test project CI

on:
  push:
    branches: 
      -   branch-cd-1
jobs:
  #CANDIDATES
  test_candidates:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [ 3.10.6 ]
    env:
      DB_USER: root
      DB_PASSWORD: root
      IF_TEST: "True"
    steps:
      - uses: actions/checkout@v1
      - name: Install candidate_db
        working-directory: ./candidate/database
        run: |
          sudo /etc/init.d/mysql start
          mysql -u${{ env.DB_USER }} -p${{ env.DB_PASSWORD }} < database.sql
      - name: Install candidate environment
        working-directory: ./candidate/src
        run: |
          pip3 install -r requirements.txt
      - name: Run candidate unit tests
        working-directory: ./candidate/src
        run: |
          coverage run --include=./app.py,./tests/tests.py,./vistas/vistas.py -m unittest tests/* -v 
          coverage report --fail-under=80
          coverage html
          coverage xml
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}